anytree~=2.8.0
cython>=0.29
detecta~=0.0.5
future~=0.18.2
graphviz~=0.14
h5py~=2.10.0
hdbscan~=0.8.26
imbalanced-learn~=0.7.0
ipython~=7.18.1
KDEpy~=1.0.5
matplotlib~=3.3.1
mongoengine~=0.20.0
mongomock~=3.20.0
nbconvert~=6.0.4
numpy>=1.16.0
oauthlib~=3.1.0
pandas~=1.1.2
phate~=1.0.4
python-dateutil~=2.8.1
pytest~=6.0.2
scikit-learn>=0.23.2
scipy>=1.4.1
scprep~=1.0
seaborn>=0.11.0
shapely~=1.7.1
snowballstemmer~=2.0.0
sphinx~=3.2.1
sphinx-theme~=1.0
sphinx-rtd-theme~=0.4.3
autodocsumm~=0.2.1
tables~=3.6.1
tensorflow~=2.2.0
tqdm>=4.49.0
umap-learn~=0.4.6
xgboost~=1.2.0
xlrd~=1.2.0
yellowbrick~=1.1
FlowIO~=0.9.5
FlowUtils~=0.7.1
MiniSom~=2.2.6
PhenoGraph~=1.5.6
plotly~=4.12.0
pingouin~=0.3.8
setuptools~=49.6.0
uncertainties